In [ ]:
import pandas as pd
import numpy as np
import google.colab
google.colab.drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/hackathon_data/avk_hackathon_data_transactions.csv')
df = df.drop_duplicates(subset =["merchant_type"])

In [ ]:
df = df.sort_values(by=['category']).dropna()
unic_cats = df.category.unique()
unic_cats

array(['Авиабилеты', 'Аренда авто', 'Госсборы', 'Дом/Ремонт',
       'Ж/д билеты', 'Животные', 'Кино', 'Книги', 'Красота', 'Музыка',
       'НКО', 'Образование', 'Одежда/Обувь', 'Отели', 'Развлечения',
       'Разные товары', 'Связь/Телеком', 'Сервисные услуги',
       'Спорттовары', 'Супермаркеты', 'Транспорт', 'Фаст Фуд',
       'Финансовые услуги', 'Фото/Видео'], dtype=object)

In [ ]:
DROP_CAT = ['НКО', 'Наличные', 'Супермаркеты', 'Финансовые услуги']
DROP_MERCH = []
for cat in DROP_CAT:
    L  = list(df[df['category'] == cat]['merchant_type'].values)
    for l in L:
        DROP_MERCH.append(l)
DROP_MERCH

[484.0, 491.0, 286.0, 336.0, 385.0, 383.0, 388.0, 391.0]

In [ ]:
CAT_TYPES = pd.read_csv('/content/drive/My Drive/hackathon_data/CAT_TYPES.csv').drop(columns = ['Unnamed: 0'])
CAT_TYPES

    Duty Free  Авиабилеты  Автоуслуги  ...  Фото/Видео  Цветы  Частные услуги
0       281.0        55.0       436.0  ...       415.0  371.0           406.0
1         NaN        97.0       293.0  ...       414.0  271.0           405.0
2         NaN        81.0       294.0  ...       426.0    NaN           411.0
3         NaN        94.0       292.0  ...       253.0    NaN           403.0
4         NaN        41.0       301.0  ...       252.0    NaN           404.0
..        ...         ...         ...  ...         ...    ...             ...
79        NaN         NaN         NaN  ...         NaN    NaN             NaN
80        NaN         NaN         NaN  ...         NaN    NaN             NaN
81        NaN         NaN         NaN  ...         NaN    NaN             NaN
82        NaN         NaN         NaN  ...         NaN    NaN             NaN
83        NaN         NaN         NaN  ...         NaN    NaN             NaN

[84 rows x 36 columns]

In [ ]:
def get_merch_category(merh_type):
  
    for index, row in CAT_TYPES.iterrows():
        for i in range(len(CAT_TYPES.columns)): 
            if row[i] == merh_type:
                return row.index[i]

    return 'Пошел НАХУЙ'

def get_merch_types(merh_category):
  
    c = CAT_TYPES[merh_category].values
    c = c[~np.isnan(c)]
    return c

get_merch_category(1.0)

'Пошел НАХУЙ'

In [ ]:
data = pd.read_csv('/content/drive/My Drive/hackathon_data/UIM_train.csv').drop(columns = ['Unnamed: 0']).dropna()
data

       party_rk  transaction_amt_rur  ...  n_prods  user_transactions_cat
0             1            108547.37  ...        2                    1.0
1             5            838288.67  ...        2                    5.0
2             7            496285.94  ...        1                    5.0
3             8            131087.00  ...        2                    1.0
4             9             30508.05  ...        2                    1.0
...         ...                  ...  ...      ...                    ...
45191     94602             82888.93  ...        3                    1.0
45192     94603             49377.23  ...        2                    1.0
45193     94606            130301.83  ...        1                    2.0
45194     94607             86342.20  ...        2                    1.0
45195     94608             29135.65  ...        4                    1.0

[45195 rows x 435 columns]

In [ ]:
from sklearn.neighbors import NearestNeighbors

''' FIT Classifaer'''

data_np = data.drop(columns=['party_rk']).to_numpy()

neigh = NearestNeighbors(n_neighbors=10)
neigh.fit(data_np)

example = data_np[6666]
print(neigh.kneighbors([example]))

(array([[  0.        ,  74.65368402, 182.46551108, 258.40206156,
        270.48652451, 306.2464868 , 327.31633914, 360.0406807 ,
        368.90691475, 463.89265151]]), array([[ 6666, 27156, 10425,  2101, 29556, 33888, 29845, 24344,  9743,
        22683]]))

In [ ]:
user = 310
last_merchant = 286.0
last_merchant_type = 'merchant_type_286'

def make_advice(user, merhant_type):
      dists, top_neighs = neigh.kneighbors([data_np[user]])

      top_neighs = top_neighs[:,1:].reshape(-1)
      dists = dists[:,1:].reshape(-1)

      #sum_interactions = np.sum([data.loc[top_neighs[n]][2:-9].values/dists[n] for n in range(len(top_neighs))], axis=0)
      top_neighs = [data.loc[n][0] for n in top_neighs]
      sum_interactions = np.sum([data.loc[data['party_rk'] == top_neighs[n]].values.reshape(-1)[2:-9]/dists[n] for n in range(len(top_neighs))], axis=0)

      user_merches = data.loc[user][2:-9]
      user_merches = user_merches[user_merches > 0].index

      sum_interactions = sum_interactions / sum_interactions.sum()
      relevant_merhces_idx = sum_interactions.argsort()[::-1]
      relevant_merches = [data.columns[i+2] for i in relevant_merhces_idx]

      new_merches = [item for item in relevant_merches if item not in user_merches if item not in DROP_MERCH]

      merch_C = get_merch_category(last_merchant)
      similiar_merhces = get_merch_types(merch_C)

      new_category_merches = [item for item in new_merches if item in similiar_merhces]

      if len(new_category_merches) != 0:
            top_advice = new_category_merches[0]

      elif len(new_merches) != 0:
            top_advice = new_merches[0]

      else:
            top_advice = relevant_merches[0]

      idx = relevant_merches.index(top_advice)
      idx = np.where(relevant_merhces_idx == idx)

      sum_interactions[idx[0][0]]

      return top_advice

advice = make_advice(user, last_merchant)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [ ]:
print('Hey yo, man, you just visited', last_merchant_type)
print('We recommend you also to visit', 'merchant_type_'+str(advice))

Hey yo, man, you just visited merchant_type_286
We recommend you also to visit merchant_type_388

In [ ]:
import pickle

DROP_CAT = np.array(['НКО', 'Наличные', 'Супермаркеты', 'Финансовые услуги'])

preds = pickle.load(open(f"/content/drive/My Drive/hackathon_data/preds (3).pkl", 'rb'))
parties = pickle.load(open(f"/content/drive/My Drive/hackathon_data/parties.pkl", 'rb'))

In [ ]:
pred_MERCH_type = [p for p in preds[22] if p not in DROP_MERCH][0]
user_rk = parties[22]
make_advice(user_rk, pred_MERCH_type)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

'237'

In [ ]:
test_data = pd.read_csv('/content/drive/My Drive/hackathon_data/merchant_types_for_test.csv').drop(columns = ['Unnamed: 0']).dropna()
test_data.head()

   party_rk  transaction_amt_rur  ...  n_prods  user_transactions_cat
0         1             62172.00  ...        2                    1.0
1         5            111604.54  ...        2                    5.0
2         7           1275490.09  ...        1                    5.0
3         8              5640.00  ...        2                    1.0
4         9              3329.72  ...        2                    1.0

[5 rows x 392 columns]

In [ ]:
len(parties), len(data.party_rk.values)

(8986, 45195)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

count = 0
for i in range(1,len(preds)):

    pred_MERCH_type = [p for p in preds[i] if p not in DROP_MERCH][0]
    user_rk = parties[i]
    if user_rk in data.party_rk.values:
        user_rk_num = data[data['party_rk'] == user_rk].index[0]
        advice = make_advice(user_rk_num, pred_MERCH_type)

        idx = test_data[test_data['party_rk'] == 7].index[0]
        user_test_merches = test_data.loc[idx][2:-9]
        user_test_merches = user_test_merches[user_test_merches > 0].index
        
        count += (advice in user_test_merches)

In [ ]:
# Count Users visited our recommended places
count/i

0.31018227529855436